{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {}}

  :test {:extra-paths ["test"]
         :extra-deps
         {lambdaisland/kaocha                           {:mvn/version "1.60.977"}}
         :exec-fn kaocha.runner/exec-fn
         :exec-args {}}

  ;; To be used with -X:test:watch
  :watch {:exec-args {:watch? true
                      :randomize? false
	              :fail-fast? true}}}}
