{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "0.0-266"}}
   :main-opts ["-m" "kaocha.runner"]}}}
